<div class="jumbotron">
    <h2 class="text-center"><img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
    <h2 class="text-center">Home</h2>
    <div class="text-center" ng-if="!isAuthenticated">
        <p>You are not yet authenticated.</p>
        <div class="text-center">
            <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
        </div>
    </div>
    <div class="text-center" ng-if="isAuthenticated">
        <p>Thank you for logging in!</p>
    </div>
</div>
