<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <div ng-if="!noGoals">
        <h1>Active Goals</h1>
        <hr />
      </div>
      <div ng-if="noGoals">
        <h3>You don't have any active goals. Set some goals!</h3>
        <button class="btn btn-primary" ng-click=goToNewGoal()>Create Goal</button>
        <hr />
      </div>
      <div ng-repeat="goal in goalList">
        <a ui-sref="dashboard.viewGoal({goalId: goal._id})"><h3>{{goal.title}}</h3></a>
        <div class="panel panel-default">
          <div class="panel-body">
            <span ng-if="goal.goal_type=='OPEN'">Priority: {{ goal.priority }} <br/> </span>
            <span ng-if="goal.goal_type=='SINGLE'">Due Date: {{ goal.due_date }} <br /></span>
            <span ng-if="goal.description">Description: {{ goal.description }}<br /></span>
            <span ng-if="goal.goal_type=='REPEAT'">Repeat Goal: {{ goal.repeat }} Times Per Week</span><br />
            <span ng-if="goal.goal_type=='REPEAT'">Completes This Week: {{ goal.completesThisWeek }} / {{ goal.repeat }}</span><br />


          </div>
          <div class="panel-footer">
            <button class="btn btn-primary" ng-click="setAsComplete(goal._id)">Complete!</button>
          </div>
        </div>
        <hr />
      </div>
    </div>
</div>
