<div class="row">
  	<div class="col-xs-12">
      	<h3 class="text-left">User Profile</h3>
      	<img img class="img-circle center-block img-responsive" src="{{authProfile.picture}}" width="200" height="200"/>
     	<h5 class="text-center"><strong>Name:</strong> {{authProfile.given_name}}</h5>
      	<h5 class="text-center"><strong>Nickname:</strong> {{authProfile.nickname}}</h5>
     	<h5 class="text-center"><strong><i class="fa fa-fw fa-envelope-o fa-2x"></i>Email:</strong> {{authProfile.email}}</h5>
      	<hr><!--Horizontal line-->
      	<h5 class="text-left"><strong>Goal Created At: </strong> {{authProfile.goal_created}}</h5>
      	<h5 class="text-left"><strong>Updated At: </strong> {{authProfile.updated}}</h5>
        <hr><!--Horizontal line-->{{test}}
  	</div>
</div>

