<div class="row">
<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

  <h1 >{{goal.title}}</h1>



      <div ng-if="goal.goal_type=='OPEN'"><h3>Priority:</h3>
        <div class="panel panel-default" >
          <div class="panel-body">
            <h4>{{ goal.priority }} </h4>
          </div>
        </div>
      </div>

      <div ng-if="goal.goal_type=='SINGLE'"><h3>Due Date:</h3>
        <div class="panel panel-default" >
          <div class="panel-body">
            <h4>{{ goal.due_date }} </h4>
          </div>
        </div>
      </div>

      <div ng-if="goal.description"><h3>Description:</h3>
        <div class="panel panel-default" >
          <div class="panel-body">
            <h4>{{ goal.description }} </h4>
          </div>
        </div>
      </div>

      <div ng-if="goal.goal_type=='REPEAT'"><h3>Repeat:</h3>
        <div class="panel panel-default" >
          <div class="panel-body">
            <h4>{{ goal.repeat }}</h4>
          </div>
        </div>
      </div>

    <div class="panel panel-default" >
      <div class="panel-body">
        <button class="btn btn-primary" ng-click="setAsComplete()" ng-if="goal.complete == false">Complete!<br /></button>
        <h4 ng-if="goal.complete == true">Already Complete.</h4>  <hr />

        <button class="btn btn-danger" ng-click="deleteGoal()">Delete Goal</button>
      </div>
    </div>

  <!--Add buttons for editing, deleting, marking goal as complete -->

</div>
</div>
