<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 ">
    <!-- header rule adds some space to the top of the form -->
    <hr/>

    <!-- start of edit form -->
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Edit Goal</legend>

          <!-- edit TITLE -->
            <div class="form-group">
              <div class="col-lg-12">
                <label class="control-label" for="title">Title </label>
                <!-- disabled -->
                <input ng-if="!edit.title" type="text" class="form-control" id="title" placeholder="{{goal.title}}" disabled="" ng-model="goal.title">
                <!-- enabled/focused when checkbox is clicked-->
                <input ng-if="edit.title" type="text" class="form-control" id="title" value="{{goal.title}}" ng-model="goal.title">
                <!-- checkbox -->
                <input type="checkbox" ng-model="edit.title" ng-true-value="true" ng-false-value="false" ng-click="resetValues()"> Edit?
                <small ng-if="edit.title">Leave box checked if you want to edit this value.</small>
              </div>
            </div>


        <!-- edit NOTES -->
          <div class="form-group">
            <div class="col-lg-10">
              <label class="control-label" for="notes">Notes </label>
                <!-- disabled -->
                  <!-- if no notes -->
                <input ng-if="!edit.notes && !goal.notes" type="text" class="form-control" id="notes" placeholder="(No notes added ...)" disabled="" ng-model="goal.notes">
                  <!-- if there is notes -->
                <input ng-if="!edit.notes && goal.notes" type="text" class="form-control" id="notes" placeholder="{{goal.notes}}" disabled="" ng-model="goal.notes">
                <!-- enabled/focused when checkbox is clicked-->
                <input ng-if="edit.notes" type="text" class="form-control" id="title" value="{{goal.notes}}" ng-model="goal.notes">
                <!-- checkbox -->
                <input type="checkbox" ng-model="edit.notes" ng-true-value="true" ng-false-value="false" ng-click="resetValues()"> Edit?
                <small ng-if="edit.notes">Leave box checked if you want to edit this value.</small>
            </div>
          </div>


          <!-- edit PRIORITY -->
          <div ng-if="goal.goal_type=='PRIORITY'" class="form-group">
            <div class="col-lg-12">
              <label class="control-label" for="priority">Priority </label>
              <!-- disabled -->
              <input ng-if="!edit.user_priority && goal.user_priority" type="text" class="form-control" id="priority" placeholder="{{goal.user_priority}}" disabled="" ng-model="goal.user_priority">
              <!-- enabled/focused when checkbox is clicked-->
              <input ng-if="edit.user_priority" type="text" class="form-control" id="priority" ng-model="goal.user_priority">
              <!-- checkbox -->
              <input type="checkbox" ng-model="edit.user_priority" ng-true-value="true" ng-false-value="false" ng-click="resetValues()"> Edit?
               <small ng-if="edit.user_priority">Leave box checked if you want to edit this value.</small>
            </div>
          </div>

        <!-- edit DUEDATE -->
          <div ng-if="goal.goal_type=='DUEDATE'" class="form-group">
            <div class="col-lg-12">
              <label class="control-label" for="duedate">Due Date </label>
              <!--disabled-->
              <!--<input ng-if="!edit.due_date" type="text" class="form-control" id="duedate"
              placeholder="{{goal.due_date}}" disabled="" ng-model="goal.due_date">
              <!-- enabled/focused when checkbox is clicked-->
              <datepicker  >

                      <input   ng-model="goal.due_date" date-set="goal.due_date" class="form-control" type="text" ng-disabled="!edit.due_date"/>
                </datepicker>
              <!--<div ng-if="!edit.due_date">{{goal.due_date}}</div>-->
              <!--checkbox-->
              <input type="checkbox" ng-model="edit.due_date" ng-true-value="true" ng-false-value="false" ng-click="resetValues()"> Edit?
              <small ng-if="edit.due_date">Leave box checked if you want to edit this value.</small>
            </div>
          </div>

        <!-- edit REPEAT -->
          <div ng-if="goal.goal_type=='REPEAT'" class="form-group">
            <div class="col-lg-12">
              <label class="control-label" for="repeat">Repeat - </label>
              <!--disabled-->
              <!--enabled/focused when checkbox is clicked -->
              <label for="points">{{goal.repeat_times}} Times Per Week</label>
                <input type="range" name="points" id="Priority"  min="1" max="7" step="1" value="1" ng-model="goal.repeat_times"  ng-disabled="!edit.repeat_times">
              </div>
              <!--<div ng-if="!edit.repeat_times">{{goal.repeat_times}}</div>-->
              <!-- checkbox-->
              <input type="checkbox" ng-model="edit.repeat_times" ng-true-value="true" ng-false-value="false" ng-click="resetValues()"> Edit?
              <small ng-if="edit.repeat_times">Leave box checked if you want to edit this value.</small>
            </div>
          </div>

        <!-- BUTTONS -->
        <div class="form-group">
          <div align="right" class="col-lg-10 col-lg-offset-2">
            <button ng-if="edit.title || edit.notes || edit.user_priority || edit.due_date || edit.repeat_times" class="btn btn-info" ng-click="editGoal()">Update</button>

            <button class="btn btn-primary" ng-click="setAsComplete()">Complete</button>
            <button class="btn btn-danger" ng-click="deleteGoal()">Delete</button>
          </div>
        </div>

        </fieldset>
      </form>
    </div> <!-- end well for form -->

    </div> <!-- end col -->
  </div> <!-- end row -->
</div> <!-- end container -->
