/*so all clickable elements are given a pointer*/
a[href], a[ng-click], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
	cursor: pointer;
}
h1, h2, h3, h4, a {
	color: #393A35;
}

.container-fluid .bodycontainer{
	margin:0px;
	padding:5px;
	padding-top:0px;
}

/*customized a brighter shade of the 'text-muted' class/color for paragraphs for visiblity*/
.text-grey {
	color: #87939e;
}

.container-fluid{
	margin: 0px;
	padding: 0px;
}

.container {
	padding: 0px;
	margin: 0px;
}

.alert{
    font-size:1.5em;
}
.requiredForm{
	color:red;
}
/*NAVBAR STYLES*/
.side-navbar {
	position: absolute;
	width: 100%;
	background-color: #e4e6e7;
	height: 100vh;
	z-index: 3;
	/*added right side border on vertical navbar*/
	border-right: 1px solid lightgrey;
}
.navbar-toggle{
	float: right;
	margin-right: 30px;
}

/* Get rid of bullet points*/
.side-navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Separate the li elements away from eachother*/
.side-navbar ul li {
	padding: 12px 0px;
	border-bottom: 1px solid lightgrey;
    text-align:center;
}
/*Hover side nav-bar elements*/
.side-navbar ul li:hover {
	background-color: #ffffff;
}


/* Separates the text from the icon*/
.side-navbar {
	padding-left: 10px;
}

.side-navbar ul li i {
	color: #000000;
	padding-right: 10px;
	padding-left: 5px;
}

/* JAKE ADDED THIS TO MAKE SIDEBAR LINKS MATCH BACKGROUND */
.side-navbar ul li a {
	color: #2B3E50;
	font-size: 1em;
}
/* END OF JAKES ADD */

/*FOOTER FOR FLASH MESSAGES*/
#flashmsg {
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
}

/*-----------HOME PAGE CSS ----*/

#myCarousel {
	padding-top: 55px;
}

/* special containers for home page */
.contents-holder {
	min-height: 30px;
	padding: 75px 40px 75px 40px;
	background-color: #dbccb3; /* sandstone color */
	color: #393A35; /*dark grey*/
	font-family: 'Roboto', sans-serif;
}
.contents-holder2 {
	min-height: 30px;
	padding: 75px 40px 75px 40px;
	background-color: #828380; /*light grey color */
	color: white;
	font-family: 'Roboto', sans-serif;
}

/* for the headers */
* {
 	box-sizing: border-box;
}

.headline {
  font-family: 'Lobster Two', cursive;
  line-height: 1.5em;
  color: black;
  position: relative;
  position: relative;
  padding-bottom: 5px;
}

.headline:after {
  content:' ';
  position: absolute;
  top:100%;
  left:50%;
  width: 150px;
  border:2px solid #d0d0d0;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);

}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
#home-footer {
  background-color: #3E3F3A;
  color: white;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}

/* for mobile: adds space for the navbar brand so it is not stuck to the left side*/
.navbar-brand {
	float: left;
	margin-left: 20px;
	font-family: 'Lobster', cursive;
	font-size: 24pt;
	color: #F8F5F0;
}

/*for desktop:  adds space for the navbar brand so it is not stuck to the left side*/
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
  }
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
  	display: none; 
  }
}

/*----------END HOME CSS -----*/

/* give space to links when in mobile*/
.navbar-collapse {
	padding-left: 25px;
	padding-right: 35px;
}

/* Mobile version*/
@media screen and (min-width: 500px) {

	.side-navbar ul li {
		text-align: center;
	}

	.side-navbar ul li span:nth-child(2) {
		display: block;
	}

}
/* Desktop version*/
@media screen and (min-width: 767px) {

	/*home navigation; space to the right for log-in link */
	#bs-example-navbar-collapse-1 {
		padding-right: 15px;
	}

	.side-navbar ul li {
		text-align: center;
	}

	.side-navbar ul li span:nth-child(2) {
		display: block;
	}

	#flashmsg {
		left:200px;
		bottom:0px;
		width:100%;
	}

	.container-fluid .bodycontainer{
		margin-right: 5px;
		padding-left:0px;
		margin-left:5px;
		padding-right: 0px;
		padding-top:5px;
	}
	.bodycontainer
	{
		margin:0px;
		padding:0px;
	}

	.alert{
			font-size:2.5em;
	}
	.side-navbar ul li span:nth-child(2) {
		display: inline;
	}

	.side-navbar ul li i {
		font-size: 2.5em;
	}
}
