/* INDEX.HTML STYLES*/
.makePointer {
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1.5px solid #afb3b6;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.alert{
    font-size:3em;
}
/*NAVBAR STYLES*/
.side-navbar {
	position: absolute;
	width: 100%;
	background-color: #e4e6e7;
	height: 100vh;
	z-index: 3;
	/*added right side border on vertical navbar*/
	border-right: 1px solid lightgrey;

}

/* Get rid of bullet points*/
.side-navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;

}

/* Separate the li elements away from eachother*/
.side-navbar ul li {
	padding: 12px 0px;
	border-bottom: 1px solid lightgrey;
    text-align:center;
}

/* Separates the text from the icon*/
.side-navbar {
	padding-left: 10px;
}

.side-navbar ul li i {
	color: #000000;
	padding-right: 10px;
	padding-left: 5px;
}

/* Mobile version*/
@media screen and (min-width: 300px) {
	.side-navbar ul li {
		text-align: center;
	}

	.side-navbar ul li span:nth-child(2) {
		display: block;
	}

	.side-navbar ul li i {
		font-size: 1em;
	}

}
/* Desktop version*/
@media screen and (min-width: 767px) {

	.side-navbar ul li span:nth-child(2) {
		display: inline;
	}

	.side-navbar ul li i {
		font-size: 2.5em;
	}
}
