<div class="container-fluid" style="margin-bottom:25px; padding-bottom:25px">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 ">
      <h1>New Goal</h1>
          <div class="row">
            <form class="form-horizontal ">

              <div class="well" id="stepOne" style="border: 2px solid #3E3F3A">
              <h3>Step 1</h3>

                <div class="form-group">
                    <label for="select" class="col-lg-4 col-md-3 col-sm-2 control-label">Title</label>
                    <div class="col-sm-10 col-md-9 col-lg-8">
                        <textarea class="form-control" rows="1" ng-model="newgoal.title"></textarea>
                    </div>
                </div>
                </div>
              <div class="well" id="stepTwo" ng-show="newgoal.title" style="border: 2px solid #3E3F3A">

              <h3>Step 2</h3>
              <h4>One Time Or Repeat?</h4>

              <div class="panel panel-default" style="border: 1px solid #3E3F3A; padding: 10px;">
              <h4>One Time - Set Due Date</h4>

              <div class="radio">
                <label><input type="radio" name="optradio" ng-click="setSetDate()">Specific Date</label>
              </div>

              <div class="form-group">
                  <label for="select" class="col-lg-4 col-md-3 col-sm-2 control-label" >Due Date</label>
                  <div class="col-sm-10 col-md-9 col-lg-8" >
                    <datepicker>

                            <input ng-model="newgoal.due_date"  class="form-control" type="text" ng-disabled="!isSetDate()"/>
                      </datepicker>
                  </div>
              </div>

              <div class="radio">
                <label><input type="radio" name="optradio" ng-click="setQuickSet()">QuickSet Date</label>
              </div>
                <div class="form-group">
                    <label for="select" class="col-lg-4 col-md-3 col-sm-2 control-label">Priority</label>


                    <div class="col-sm-10 col-md-9 col-lg-8" >
                    <label for="points">{{priorityNumToStr(priorityNumber)}}</label>
                      <input type="range" name="points" id="Priority"  min="1" max="5" step="1" value="1" ng-model="priorityNumber" ng-change="priorityNumToStr()" ng-disabled="!isQuickSet()">

                    </div>

                </div>
              </div>
              <div class="panel panel-default" style="border: 1px solid #3E3F3A; padding: 10px;">
              <h4>Repeat - How Many Repeats?</h4>
              <div class="radio">
                <label><input type="radio" name="optradio" ng-click="setRepeatGoal()">Repeat</label>
              </div>
              <div class="form-group">
                  <label for="select" class="col-lg-4 col-md-3 col-sm-2 control-label" >Times Per Week<span class="requiredForm"> (REQUIRED)</span></label>
                  <div class="col-sm-10 col-md-9 col-lg-8" >
                  <label for="points">{{repeatNumber}} Times Per Week</label>
                    <input type="range" name="points" id="Priority"  min="1" max="7" step="1" value="1" ng-model="repeatNumber"  ng-disabled="!isRepeat()">

                  </div>
              </div>

              </div>
                </div>
              <div class="well" ng-show="selection" style="border: 2px solid #3E3F3A">
                <h3>Add Notes?</h3>
                <div class="form-group">
                  <label for="comment">Notes:</label>
                  <textarea class="form-control" rows="5" id="comment" ng-model="newgoal.notes"></textarea>
                </div>


              </div>
            </div>



                  <button class="btn btn-primary col-xs-5 " ng-click="buttonPressed()" ng-show="newgoal.title && selection">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
